.wrapper {
  text-align: center;
}

.getXpathBtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.getXpathBtn:hover {
  background-color: #45a049;
}

.extension-highlight {
  outline: 2px solid rgba(255, 0, 0, 0.5) !important;
  outline-offset: 2px;
}
